{%- include('../partials/Header') %}

<div class="container mt-5 shadow-lg">
    <div class="row ">
        <div class="col-12 cl-lg-10 cl-md-8 cl sm-4 px-0 " >
            <div class=" card-title bg-primary text-center text-light form-control">
                <h1 >ADD POST</h1>
            </div>
           <form action="/post/create" method="POST" enctype="multipart/form-data">
            
            

            <div class="card-body">

                <div class="mb-3 ">
                <label for="title" class="form-label"  >Title</label>
                <input type="text" name="title" id="title" class="form-control">
                </div>
                
                <div class="mb-3">
                    
                    <label  for="category" class="form-label">Post Category</label>
                    <select name="categoryId" id="category" class="form-select">
                        {% for(category of categories) { %}
                    <option value="{%=category._id%}">{%=category.name%}</option>
                    {% } %}
                </select>
                </div>

                <div class="mb-3 text-center">
                    <input type="file" style="display: none;" id="image-btn" name="image">
                    <button class="btn btn-primary " type="button" onclick="Upload()">UPLOAD IMAGE</button>
                </div>

                <div class="mb-3">
                    <label for="content">Post Content</label>
                    <textarea name="content" id="content" class="form-control"></textarea>
                </div>
                
                <div class="mb-3 form-switch">
                    <input type="checkbox" class="form-check-input" checked id="publish" name="publish">
                    <label for="publish" class="form-check-label">Published</label>
                </div>
            </div>

            <div class="mb-3 text-center ">
                <button class="btn btn-warning" >ADD POST</button>
                <!-- type has to be "button" otherwise it will think as submitt button -->
                <button type="button" class="btn btn-secondary" onclick="history.back()">BACK</button>
            </div>
            
           </form> 
           
          
        </div>
    </div>
</div>
<script>
   
    function Upload(){
        const btn = document.getElementById('image-btn')
        btn.click()
    }
    // it is second way of making "goBack" button in form 
    // we justn need to change the "onclick=goBack()" but still need to
    //  add the type="button", otherwise button in the form will think as a submitt button
//     function goBack() {
//   history.back();  // This will navigate to the previous page in the history.
// }
</script>